.seccion-historia{
    color: rgb(172, 15, 15);
    text-align: center;
}

.secciones-discos{
    border: solid 3px black;
    background-color: gray;
    color: orange;
}

.titulo-discografia{
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    color: orange;
    background-color: gray;
}
.list-group-item{
    color: orange;
}
.boton{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.video{
    display: flex;
    justify-content: center;
}

